---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Andrés Tec">
	<main class="flex h-screen flex-col gap-6 bg-blue p-8">
		<div class="shadow-hard h-2/5 bg-gold">
			<h1 class="font-mono text-6xl font-bold">Andrés Tec</h1>
			<p class="font-mono text-3xl font-bold">
				Hola, mi nombre es Andrés Born. Soy desarrollador web
			</p>
		</div>
		<div class="shadow-hard h-1/5 bg-pink">
			<h1 class="font-mono text-white"></h1>
		</div>
		<div class="shadow-hard h-1/5 bg-orange">
			<h1 class="font-mono text-white"></h1>
		</div>
		<div class="shadow-hard h-1/5 bg-purple">
			<h1 class="font-mono text-white"></h1>
		</div>
	</main>
</Layout>
