---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="ANDRESTEC">
	<main class="flex h-full min-h-screen flex-col gap-6 bg-blue p-8">
		<div class="flex h-60 items-center justify-center bg-gold p-4 shadow-hard">
			<h1 class="font-mono text-5xl font-bold sm:text-8xl md:text-9xl">
				ANDRESTEC
			</h1>
		</div>
		<div class="flex h-full flex-row gap-6">
			<div class="h-min w-full divide-y-2 divide-solid bg-pink p-6 shadow-hard">
				<ul class="mb-6 list-disc">
					<li class="ml-4 font-mono font-bold text-white">Software Engineer</li>
					<li class="ml-4 font-mono font-bold text-white">Web Developer</li>
					<li class="ml-4 font-mono font-bold text-white">
						Political Scientist
					</li>
					<li class="ml-4 font-mono font-bold text-white">
						Data Scientist (WIP)
					</li>
				</ul>
				<ul class="list-disc pt-6">
					<li class="ml-4 font-mono font-bold text-white">TypeScript</li>
					<li class="ml-4 font-mono font-bold text-white">React</li>
					<li class="ml-4 font-mono font-bold text-white">NextJS</li>
					<li class="ml-4 font-mono font-bold text-white">Astro</li>
					<li class="ml-4 font-mono font-bold text-white">Node</li>
					<li class="ml-4 font-mono font-bold text-white">NestJS</li>
					<li class="ml-4 font-mono font-bold text-white">Vite</li>
					<li class="ml-4 font-mono font-bold text-white">AWS</li>
				</ul>
			</div>
			<div class="w-full bg-orange p-4 shadow-hard">
				<p class="font-mono font-bold text-white">Software Engineer</p>
				<p class="font-mono font-bold text-white">Web Developer</p>
				<p class="font-mono font-bold text-white">Political Scientist</p>
				<p class="font-mono font-bold text-white">Data Scientist (WIP)</p>
				<p class="font-mono font-bold text-white">Economic Historian (TBD)</p>

				<p class="font-mono font-bold text-white">TypeScript</p>
				<p class="font-mono font-bold text-white">React</p>
				<p class="font-mono font-bold text-white">NextJS</p>
				<p class="font-mono font-bold text-white">Astro</p>
				<p class="font-mono font-bold text-white">Node</p>
				<p class="font-mono font-bold text-white">NestJS</p>
				<p class="font-mono font-bold text-white">Vite</p>
				<p class="font-mono font-bold text-white">AWS</p>
				<p class="font-mono font-bold text-white">Software Engineer</p>
				<p class="font-mono font-bold text-white">Web Developer</p>
				<p class="font-mono font-bold text-white">Political Scientist</p>
				<p class="font-mono font-bold text-white">Data Scientist (WIP)</p>
				<p class="font-mono font-bold text-white">Economic Historian (TBD)</p>

				<p class="font-mono font-bold text-white">TypeScript</p>
				<p class="font-mono font-bold text-white">React</p>
				<p class="font-mono font-bold text-white">NextJS</p>
				<p class="font-mono font-bold text-white">Astro</p>
				<p class="font-mono font-bold text-white">Node</p>
				<p class="font-mono font-bold text-white">NestJS</p>
				<p class="font-mono font-bold text-white">Vite</p>
				<p class="font-mono font-bold text-white">AWS</p>
				<p class="font-mono font-bold text-white">Software Engineer</p>
				<p class="font-mono font-bold text-white">Web Developer</p>
				<p class="font-mono font-bold text-white">Political Scientist</p>
				<p class="font-mono font-bold text-white">Data Scientist (WIP)</p>
				<p class="font-mono font-bold text-white">Economic Historian (TBD)</p>

				<p class="font-mono font-bold text-white">TypeScript</p>
				<p class="font-mono font-bold text-white">React</p>
				<p class="font-mono font-bold text-white">NextJS</p>
				<p class="font-mono font-bold text-white">Astro</p>
				<p class="font-mono font-bold text-white">Node</p>
				<p class="font-mono font-bold text-white">NestJS</p>
				<p class="font-mono font-bold text-white">Vite</p>
				<p class="font-mono font-bold text-white">AWS</p>
			</div>
		</div>
	</main>
</Layout>
